* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0 auto;
    width: 1283px;
    }

.header{
    margin-top: 30px;
}
.header_title {
    font-size: 80px;
    font-weight: 400;
    line-height: 93.75px;
    text-decoration: none;
    color: #000;
}

.header_title_blue {
    color:#4BCAFF;
}

.header_menu {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: #35444F;
 
}

.header_menu_list {
    display: flex;
    background-color: #35444F;
    list-style-type: none;

}

.header_menu_list_item {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
    color: #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding: 20px 30px;
   
}

.header_menu_list_item:last-child {
    border-right: 1px solid #FFFFFF; 
}

.header_menu_list_item:nth-child(2):hover{
    background-color: #222F3A;
    
}

.content {
    display: flex;
    margin-top: 50px;
    gap: 50px
}


.content_menu_left_list {
    list-style-type: none;
    width: 350px;
    border: 1px solid #7f909c;
}

.content_menu_left_item {
    padding: 25px;
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 27px;

}

.content_menu_left_item:nth-child(2):hover{
    background-color: #DBDBDB;
    color: #000;
    padding-left: 40px;
 }
 
.content_image{
    border: 1px solid #7f909c;
    display: flex;
    justify-content: center;
    padding: 75px;
}


.content_paragraph {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;

}

.content_paragraph_2 {
    margin-top: 10px;
}


.footer_menu_list {
    display: flex;
    margin-top: 50px;
    list-style-type: none;
    background-color: #63696E7A;
    padding: 20px 40px;
    align-items: center;
}


.footer_menu_item {
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    margin-right: 20px;

}

.footer_menu_item:last-child {
    flex-grow: 2;
    text-align: right; 
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    
}

.footer_menu_item:nth-child(2):hover{
    color: #216f91;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 10px;
 }

